#contador {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#container {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(43, 43, 234);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}